<service>
	<serviceName>escuela</serviceName>
	<serviceDescription>Ofrece una gama de cursos practicos de diferentes especialidades con pruebas finales y diplomas</serviceDescription>
	<creatorEmail>kumahavana@gmail.com</creatorEmail>
	<serviceCategory>academico</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra ESCUELA

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: ESCUELA

			Recibir&aacute; un email con los cursos disponibles.
		]]>
	</serviceUsage>
</service>
