.space5 {
	margin: 10px 0px !important;
}

.border {
	border: 1px solid red;
}

.card-content {
	padding: 16px;
	height: 250px;
}

nav {
	background-color: white;
}

nav.nav-center ul {
	text-align: center;
}
nav.nav-center ul li {
	display: inline;
	float: none;
}
nav.nav-center ul li a {
	display: inline-block;
}

.medal {
	border: 2px solid black;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
	margin-right: 20px;
	font-size: 3em;
	padding: 10px;
}