.space5 {
	margin: 10px 0px !important;
}

.border {
	border: 1px solid red;
}

@media (min-width: 601px){
	.card-content {
		height: 210px;
	}
}

tr:last-child{
	border-bottom: none;
}

.card-content{
	padding-bottom: 0 !important;
}

nav {
	background-color: white;
}

nav.nav-center ul {
	text-align: center;
}
nav.nav-center ul li {
	display: inline;
	float: none;
}
nav.nav-center ul li a {
	display: inline-block;
}

.medal {
	border: 2px solid black;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
	margin: 10px auto;
	padding: 5px;
	display: inline-block;
}

.medal .material-icons.large{
	width: 84px;
	height: 84px;
}

.medal .material-icons.medium{
	width: 56px;
	height: 56px;
}

@media (max-width: 600px){
	.btn.tiny{
		height: 28px;
		line-height: 28px;
		padding: 0 12px;
	}
	
	.btn.tiny i.left{
		margin-right: 10px;
	}
	
	.btn.tiny i.right{
		margin-left: 10px;
	}
}