.space5 {
	margin: 10px 0px !important;
}

.border {
	border: 1px solid red;
}

.card-content {
	padding: 16px;
	height: 250px;
}

nav.nav-center ul {
	text-align: center;
}
nav.nav-center ul li {
	display: inline;
	float: none;
}
nav.nav-center ul li a {
	display: inline-block;
}