<!-- MENU -->
<div class="container">
    <div class="row">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper white">
				<span class="brand-logo left">
					 <div class="row">
                         <div class="col s12 text-center">
                            <div style="font-family:Times; font-size:2rem; font-weight:bold; margin:15px 0px; color:black;">
							ESCUELA
							<span style="color:white; background-color:#C11414; padding:3px;">ONLINE</span>
						</div>
                        </div>
                     </div>
				</span>

                <ul class="right hide-on-small-only">
                    <li>
                        <a class="black-text" href="#!" onclick="apretaste.send({'command':'ESCUELA'})">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a class="black-text" href="#!" onclick="apretaste.send({'command':'ESCUELA PERFIL'})">
                            <i class="material-icons">account_box</i>
                        </a>
                    </li>
                    <li>
                        <a class="black-text" href="#!" onclick="apretaste.send({'command':'ESCUELA BUSCAR'})">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                    <li>
                        <a class="black-text" href="#!" onclick="apretaste.send({'command':'NOTIFICACIONES'})">
                            <i class="material-icons">notifications</i>
                        </a>
                    </li>
                    <li>
                        <a class="red lighten-3" href="/logout">
                            <i class="material-icons">exit_to_app</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="content container">

    {{APP_TEMPLATE_CODE}}

</div>

<!-- FOOTER -->
<div class="row center-align grey lighten-4" style="padding:20px 0px; margin-top:20px;">
    Apretaste &copy; <%=(new Date).getFullYear()%>. All rights reserved
    <br>
    <a href="#!" onclick="apretaste.send({'command':'SOPORTE'});">Soporte</a>
    &nbsp;&ndash;&nbsp;
    <a href="#!" onclick="apretaste.send({'command':'TERMINOS'});">T&eacute;rminos</a>
</div>


