<div class="row">
    <div class="col s12 m12 l12 xl12">
        <h1>Su certificado</h1>
        <p>Muchas felicidades por haber pasado el curso <b><%= course.title %></b>.
            Usted ha aprobado con una nota de <b><%= course.calification %> puntos</b>.
            Hemos creado un certificado que le enviamos por email a <%= email %> como archivo adjunto.
            Gracias por escoger nuestra escuela, y espero que siga disfrutando nuestros cursos</p>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12 xl12 text-center">
        <a href="#!" class="link link-simple" data-query="" data-command="ESCUELA">M&aacute;s cursos</a>
    </div>
</div>