<h1><%= chapter.title %></h1>
<% for(var i in chapter.content) { %>
    <!-- get current component -->
    <% var cmp = chapter.content[i]; %>

    <!-- replace global vars -->
    <!-- Importante: app and website cannot replace the first param of .replace(). Do not touch it! -->

    <% cmp.template.replace('{{' + 'APP_IMAGE_PATH' + '}}', '{{APP_IMAGE_PATH}}'); %>
    <% cmp.template.replace('{{' + 'APP_SERVICE_PATH' + '}}', '{{APP_SERVICE_PATH}}'); %>
    <% cmp.template.replace('{{' + 'APP_RESOURCES' + '}}', '{{APP_RESOURCES}}'); %>

    <!-- render the component's template -->
    <%- ejs.render(cmp.template, cmp.data) %>

    <!-- the script can be a template (dynamic attrs, etc)-->
    <% cmp.script = ejs.render(cmp.script, cmp.data); %>

    <!-- the style can be a template (dynamic attrs, etc)-->
    <% cmp.style = ejs.render(cmp.style, cmp.data); %>

<% } %>