<div class="row">
    <% if (courses.length == 0){ %>
        <div class="col s12 center">
            <p class="middle-center grey-text">Aún no ha terminado ningún curso. Escoja un curso, páselo y se mostrará acá". Haz que luzca como la pantalla</p>
        </div>
    <% } %>

    <% courses.forEach(function(e, i) { %>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><%= e.title %></span>
                <p class="space5">
                    <% for(var k = 0; k < e.stars; k++) {%>
                    <i class="material-icons">star</i>
                    <% } %>
                    <% for(var k = 0; k < max_stars - e.stars; k++) {%>
                    <i class="material-icons">star_border</i>
                    <% } %>
                </p>
                <p class="space5"><%= parseInt(e.calification) %> puntos obtenidos</p>
            </div>
        </div>
    </div>
    <% }); %>
</div>
